@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .icon {
    @apply cursor-pointer  text-black bg-gray-200 p-2 rounded-lg flex items-center justify-center;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
